<div style="margin-top: 2.5rem;">
  <div style="display: flex; justify-content: center; width: 100%;">
    <p style="color: #eaeaea;">
      如果覺得這篇文章對您有所幫助，歡迎贊助我一杯咖啡 ☕️
    </p>
  </div>
  <div style="display: flex; justify-content: center; width: 100%;">
    <p style="color: #eaeaea;">
      祝您有美好的一天 ❤️
    </p>
  </div>
  <div style="display: flex; justify-content: center; width: 100%; margin-top: 1rem;">
    <script
      type="text/javascript"
      src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
      data-name="bmc-button"
      data-slug="timfanda35"
      data-color="#FFDD00"
      data-emoji=""
      data-font="Bree"
      data-text="Buy me a coffee"
      data-outline-color="#000000"
      data-font-color="#000000"
      data-coffee-color="#ffffff"
    ></script>
  </div>
</div>