<footer class="gfooter">
  <div class="inner">
    <div class="container">
      <p class="copy">
        <small>{{ .Site.Copyright }}</small> 
        <small> | 本部落格有使用 Google Analytics 及 Cookies</small>
      </p>

      <nav class="footer-nav">
        <div class="inner">
          {{ range .Site.Menus.footer }}
          <a class="footer-nav-item" href="{{ .URL }}">
            {{ .Name }}
          </a>
          {{ end }}
        </div>
      </nav>
    </div>
  </div>
</footer>

{{ template "_internal/google_analytics.html" . }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>
<script src="{{ "js/script.js" | absURL }}"></script>
