{{ define "main" }}
  <article>
    <div>
      <h1>{{ .Title }}</h1>
      <div class="meta">
        <time class="pub-time"  datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Lastmod.Format ( .Site.Params.dateformat | default "2006.01.02") }}
        </time>
        <div>
          {{ if .Params.categories }}
          <div>
            {{ range .Params.categories }}
              <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/"><mark>{{ . }}</mark></a>
            {{ end }}
          </div>
          {{ end }}
          {{ if .Params.tags }}
          <div>
            {{ range .Params.tags }}
              <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/"><mark>{{ . }}</mark></a>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div>
      {{ partial "toc.html" . }}
      {{ .Content }}
    </div>
    <footer class="post-footer">
      <!-- /.social -->
      <hr />

      {{ partial "buy-me-a-coffee.html" . }}

      <hr />

      {{ partial "utterances.html" . }}

      <div class="share">
        {{ partial "share.html" }}
      </div>
    </footer>
  </article><!-- /.post -->

  <nav style="display: flex; justify-content: space-between;">
    {{ if .NextInSection }}
      <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">&larr; Newer Post</a>
    {{ end }}
    {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">Order Post &rarr;</a>
    {{ end }}
  </nav>

  {{ partial "json-single.html" . }}
  {{ partial "json-author.html" . }}
{{ end }}
