<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}jp{{ end }}">
  {{ partial "head.html" . }}

  <body class="is-txonomy">
    {{ partial "header" . }}

    <div class="main-content">
      <div class="container">
        <div class="archive">
          <header class="archive-header">
            <h1 class="title">「{{ .Title }}」 List</h1>
          </header>
          <div>
            <ul>
              {{ range .Data.Pages }}
                {{ .Render "li" }}
              {{ end }}
            </ul>
          </div>
        </div>

        {{ partial "pagination" . }}
      </div>
    </div>

    {{ partial "footer" . }}
  </body>
</html>
