body {
  background-color: #040404; }

.footer-nav::after, .pagenation-list::after {
  clear: both;
  content: "";
  display: table; }

.navbar-brand {
  align-items: center;}

.navbar-brand .brand {
  font-size: 2rem; }
  @media screen and (max-width: 768px) {
    .navbar-brand .brand {
      font-size: 1.5rem; } }

.navbar-burger span {
  background-color: #eaeaea; }

.navbar-burger:hover {
  background-color: transparent; }

.navbar-burger:hover span {
  background-color: #d84817; }

.navbar-burger.is-active span {
  background-color: #eaeaea; }

.navbar-burger.is-active:hover span {
    background-color: #d84817; }

.navbar-item {
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }

.not-found-body {
  margin-top: 1.8rem; }
  .not-found-body a {
    font-weight: 500;
    color: #d84817; }

.archive-header {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 1rem; }
  .archive-header .title {
    margin-top: -4px;
    font-size: 36px;
    line-height: 1.6; }
  .archive-header .title:not(:last-child) {
    margin-bottom: 0; }

.archive-header + .archive-body {
  margin-top: 3.5rem; }

.comments {
  margin-top: 30px; }

.footer-nav {
  display: inline;
  text-align: right; }
  .footer-nav .inner {
    float: right; }
  .footer-nav-item {
    display: inline-block;
    color: #eaeaea; }
    .footer-nav-item + .footer-nav-item {
      margin-left: 1em; }
    .footer-nav-item:hover {
      color: #c4c4c4; }

.pagenation {
  margin-top: 40px; }

.pagenation-list {
  display: block;
  text-align: center; }
  .pagenation-list .pager {
    width: 25%;
    display: inline; }
    .pagenation-list .pager a {
      color: #c4c4c4;
      transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
      .pagenation-list .pager a:hover {
        color: #d84817; }
  .pagenation-list .next {
    text-align: right;
    float: right; }
  .pagenation-list .previous {
    text-align: left;
    float: left; }

.post-item + .post-item {
  margin-top: 40px; }

.post-item .title {
  margin-bottom: 0;
  font-size: 1.8rem; }
  .post-item .title a {
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    color: #c4c4c4; }
    .post-item .title a:hover {
      color: #d84817; }

.meta {
  margin-top: 1rem; }
  .meta .pub-time {
    font-family: "Courier New", "Lato", sans-serif;
    color: #8d8d8d; }
    @media screen and (max-width: 768px) {
      .meta .pub-time {
        display: block; }
      .meta .terms {
        margin-left: 0px; }
    }

.terms {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-left: 10px; }
  .terms > * {
    display: inline-block; }

.tag {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  padding: 0; }
  .tag .tag-item {
    color: #2d2d2d;
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    font-size: 14px; }
    .tag .tag-item:hover {
      transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      color: #d84817; }
    .tag .tag-item + .tag-item:before {
      display: inline-block;
      content: ',';
      padding-right: 6px; }

.categories-item {
  border-radius: 8px;
  padding: 4px 8px;
  background-color: #4a4a4a;
  color: #eaeaea;
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
  @media screen and (max-width: 768px) {
    .categories-item {
      display: inline-block;
      border-radius: 12px;
      min-width: 48px;
      height: 48px;
      line-height: 48px;
      padding: 0 12px;
      margin-top: 4px}}
  .categories-item:hover {
    background-color: #eaeaea;
    color: #4a4a4a; }

.categories + .tag {
  margin-left: 0.8em; }

.post-header .title {
  color: #eaeaea;
}

.post-body {
  margin-top: 1rem;}
  .post-body > * {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #eaeaea; }
    .post-body > * + * {
      margin-top: 0.5em; }
  .post-body h2 {
    margin-top: 1.8em;
    font-size: 1.8rem;
    font-weight: 600; }
  .post-body h3 {
    margin-top: 1.4em;
    font-size: 1.4rem;
    font-weight: 600; }
  .post-body h4 {
    margin-top: 1.2em;
    font-size: 1.2rem;
    font-weight: 600; }
  .post-body h5 {
    margin-top: 1em;
    font-size: 1rem;
    font-weight: 600; }
  .post-body h2 + p,
  .post-body h3 + p,
  .post-body h4 + p {
    margin-top: 0.6em; }
  .post-body p + p {
    margin-top: 0.8em; }
  .post-body p {
    font-size: 1.2rem;}
  .post-body p code {
    position: relative;
    bottom: 0.12rem;
    font-family: Monaco, Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 1em;
    font-size: 0.8rem;}
  .post-body ol,
  .post-body ul {
    margin: 1.4rem 0 1.4rem 2.4rem; }
    .post-body ol ol,
    .post-body ol ul,
    .post-body ul ol,
    .post-body ul ul {
      margin: 1.4rem 0 1.4rem 2.4rem; }
  .post-body ul {
    list-style-type: disc; }
  .post-body li code {
    font-size: 0.7rem; }
  .post-body img {
    margin: 1.2rem 0; }
  .post-body blockquote {
    border-left: 3px solid #363636;
    padding-left: 2rem;
    margin-bottom: 1rem;
    background-color: #dddddd;
    font-weight: 500;
    font-style: italic; }
  .post-body pre {
    background-color: #363636;
    /* margin: 2.8em 0; */
    color: #eaeaea; }
  .post-body pre code {
    font-family: Monaco, Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 1em;
    line-height: 1.8; }
  .post-body a {
    font-weight: 400;
    color: #d84817; }
    .post-body a:hover {
      text-decoration: underline; }
  .post-body strong {
    color: #eaeaea;
    font-weight: 700; }

.taxonomy {
  min-height: 200px; }
  .taxonomy-list {
    text-align: left; }
    .taxonomy-list-item {}
      .taxonomy-list-item + .taxonomy-list-item {
        margin-top: 2em; }
      .taxonomy-list-item .pub-time {
        color: #8d8d8d; }
      .taxonomy-list-item a {
        color: #eaeaea; }
        .taxonomy-list-item a:hover {
          color: #d84817; }
      .taxonomy-list-item .title span {
        margin-left: 0.4em;
        color: yellow; }

.main-content {
  margin: 60px 0; }
  .main-content .container {
    max-width: 864px;
    width: 100%; }
    @media screen and (min-width: 769px), print {
      .main-content .container {
        padding-left: 12px;
        padding-right: 12px; } }
    @media screen and (max-width: 768px) {
      .main-content .container {
        padding-left: 15px;
        padding-right: 15px; } }

.gfooter {
  padding: 14px 10px;
  background-color: #2d2d2d;
  border-bottom: 3px solid #d84817; }
  .gfooter .copy {
    display: inline;
    color: #eaeaea; }

.gheader {
  background-color: #2d2d2d;
  border-top: 3px solid #d84817; }
  .gheader .navbar {
    background-color: transparent; }
  .gheader .navbar-item {
    color: #eaeaea; }

table th {
  color: #eaeaea;
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top; }
table tr:hover {
  background-color: #d84817; }
table td {
  padding: 0.5em 0.75em; }

/* Customzie */
.pub-time {
  font-family: "Courier New", "Lato", sans-serif;
  font-weight: bold;
  font-style: italic;}

.toc-wrap {
  border-width: 1px;
  border-style: solid;}
  .toc-wrap h2 {
    margin-top: 0.2rem;
    margin-left: 0.5rem;}
  .toc-wrap ul  {
    margin-top: 0;
    margin-bottom: 0.5rem;}
  .toc-wrap ul ul {
    margin: 0 0 0 1.5rem;}