<footer class="gfooter">
  <div class="inner">
    <div class="container">
      <p class="copy">
        {{ .Site.Copyright }} | 本部落格有使用 Google Analytics 及 Cookies
      </p>

      <nav class="footer-nav">
        <div class="inner">
          {{ range .Site.Menus.footer }}
          <a class="footer-nav-item" href="{{ .URL }}">
            {{ .Name }}
          </a>
          {{ end }}
        </div>
      </nav>
    </div>
  </div>
</footer>

{{- if not .Site.IsServer -}}
  {{ template "_internal/google_analytics.html" . }}
{{- end -}}

<!-- ViewerJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.js" integrity="sha512-EC3CQ+2OkM+ZKsM1dbFAB6OGEPKRxi6EDRnZW9ys8LghQRAq6cXPUgXCCujmDrXdodGXX9bqaaCRtwj4h4wgSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  const gallery = new Viewer(
    document.querySelector("article > div:nth-child(2)"),
    {
      toolbar: false,
      initialCoverage: 1
    }
  );
</script>
