<footer class="gfooter">
  <div class="inner">
    <div class="container">
      <p class="copy">
        {{ .Site.Copyright }} | 本部落格有使用 Google Analytics 及 Cookies
      </p>

      <nav class="footer-nav">
        <div class="inner">
          {{ range .Site.Menus.footer }}
          <a class="footer-nav-item" href="{{ .URL }}">
            {{ .Name }}
          </a>
          {{ end }}
        </div>
      </nav>
    </div>
  </div>
</footer>

{{ template "_internal/google_analytics.html" . }}
